

{{>layouts/header}}

<img src="/image/logo_m.png" style="display:block" alt="Plant Friends Logo">

<h1>{{#greeting}} {{greeting}} {{/greeting}}</h1>
<h1>{{^greeting}} 로그인 후 이용 해 보세요! {{/greeting}}</h1>


{{#isAuthenticated}}
    <!-- 인증된 사용자에게만 보이는 내용 -->
    <a href="/logout" class="btn btn-outline-primary">로그아웃</a>
{{/isAuthenticated}}
{{^isAuthenticated}}
    <a href="/login" class="btn btn-primary">로그인</a>
    <a href="/signUp" class="btn btn-outline-primary">회원가입</a>
    <!-- 비인증 사용자에게만 보이는 내용 -->
{{/isAuthenticated}}


{{>layouts/footer}}