{{>layouts/header}}

<h2>로그인</h2>
    <form action="/login" method="POST">
<!--        <input type="text" name="id">-->
<!--        <input type="password" name="pw">-->
<!--        <input type="submit" value="Login">-->



        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="ID" name = "id">
            <label for="floatingInput">ID</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name = "pw">
            <label for="floatingPassword">Password</label>
        </div>
        <input type = "submit" value = "Login" class="btn btn-primary mt-3">
    </form>
{{>layouts/footer}}